Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

In [45]:
rating = pd.read_csv('ratings.csv')
movie_name = pd.read_csv('movies.csv')

In [54]:
rating1 = rating[rating.rating== 5.0].filter(items = ['movieId', 'rating'])
rating2 = rating1.pivot_table(index = 'movieId', values = 'rating', aggfunc = 'count', fill_value=0).reset_index()
movie_name.merge(rating2, how= 'left').sort_values('rating', ascending = False).head(1)

     movieId                             title       genres  rating
277      318  Shawshank Redemption, The (1994)  Crime|Drama   153.0

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [84]:
power = pd.read_csv('power.csv')
filtered_country = power[(power.country == 'Latvia')|(power.country == 'Lithuania')|(power.country == 'Estonia')]
filtered_category = filtered_country[(filtered_country.category == 4)|(filtered_country.category == 12)|(filtered_country.category == 21)]
filtered_year = filtered_category[(filtered_category.year >= 2005) & (filtered_category.year <= 2010)]
table = filtered_category[filtered_category.quantity >=0]
table.pivot_table(index = 'country', columns = 'category', values = 'quantity', aggfunc = 'sum', fill_value=0, margins = True).reset_index()

category    country    4    12      21       All
0           Estonia  102     0  265912  266014.0
1            Latvia    8     0  208772  208780.0
2         Lithuania   36  6676  489222  495934.0
3               All  146  6676  963906  970728.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [106]:
page_url ='https://fortrader.org/quotes'
df = pd.read_html(page_url, attrs={'class': ''}, encoding = 'utf-8')
df[1]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть (BRENT) Курс нефти сегодня,45.260,+0.25,+0.56,NaN
1,Нефть (WTI) Цены на нефть (WTI),42.820,+0.13,+0.30,NaN
2,Сахар котировки на сахар,12.630,нет данных,нет данных,NaN
3,Газ Цена на газ,2.434,+0.004,+0.165,NaN
4,CACAO,2421.000,0.0000,0.0000,NaN
5,Coffee,119.100,-1.5500,-1.2847,NaN
6,CORN,324.400,-2.600,-0.795,NaN
7,Soybean,295.900,+0.10,+0.03,NaN
8,cotton,63.770,+0.84,+1.33,NaN